{{#if userInSession}}
    <p>You are already logged in!</p>
{{else}}
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label> Username
            <input type="text" name="username" placeholder="IronHacker" required />
        </label>
    
        <label> Password
            <input type="password" name="password" placeholder="********" required />
        </label>
    
        <input type="submit" value="Login" />
    
        {{#if errorMessage}}
            <p id="error">{{errorMessage}}</p>
        {{/if}}
    </form>
{{/if}}