<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">
    <div>
        <label>Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Propellers</label>
        <input type="number" name="propellers">
    </div>    
    <div>
        <label>Max Speed</label>
        <input type="number" name="maxSpeed">
    </div>
    <button type="submit">Submit Drone</button>
</form>