<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a propo de johnny</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img id="banner" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi1266.photobucket.com%2Falbums%2Fjj523%2Fxlandofutopiax%2Fcomments%2FStringofheartsdivider.gif&f=1&nofb=1" alt />
    <div class="header">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
        <div class="header-title">
            <marquee>tu restera tjr dan no coeur</marquee>
            <h2>Johnny Hallyday</h2>
        </div>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
    </div>
    <div class="nav">
        <a href="/"><u>accueil</u></a>
        <a href="works"><u>ses chanson</u></a>
    </div>
    <div class="container">
        <p>johny allyday, nom 2 scèn 2 jean filipe smé, né l15 juin 1943 ds l9 arondissemen 2 paris é mor l5 Dcembr 2017 a marn la coquete (o 2 seine), é 1 chanteur, compositeur é acteur franssè. </p>
        <div class="container-image">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2317766.jpg&f=1&nofb=1" alt>
        </div>
        <p>alor quil é ateint dun cancé du poumon, il efectu sa dernièr tourné en juin é juillet 2017, o cotés 2 sé amis jack dutronc é eddy mitchell, ac ki il a formé ltrio D vieill canaill. sa mor, survenu kelk mwa + tar D suite 2 sa maladi, don lieu a 1 importan omaj populR. o momen 2 sa mor, lé vente 2 sé disk schifren a 110 milion dexemplRs.</p>
        <div class="container-image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VQHa5X0v7DA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <script src="cursor.js"></script>
</body>
</html>