<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil du site des fans de johnny hallyday</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img id="banner" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi1266.photobucket.com%2Falbums%2Fjj523%2Fxlandofutopiax%2Fcomments%2FStringofheartsdivider.gif&f=1&nofb=1" alt />
    <div class="header">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
        <div class="header-title">
            <marquee>tu restera tjr dan no coeur</marquee>
            <h2>Johnny Hallyday</h2>
        </div>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
    </div>
    <div class="nav">
        <a href="works"><u>ses chanson</u></a>
        <a href="about"><u>a propo de johnny</u></a>
    </div>
    <div class="iframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ArKC23sfhoA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p id="credits">cette page web est destinée a johnny</p>
    <script src="cursor.js"></script>
</body>
</html>