<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ses chansons</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img id="banner" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi1266.photobucket.com%2Falbums%2Fjj523%2Fxlandofutopiax%2Fcomments%2FStringofheartsdivider.gif&f=1&nofb=1" alt />
    <div class="header">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
        <div class="header-title">
            <marquee>tu restera tjr dan no keurs</marquee>
            <h2>Johnny Hallyday</h2>
        </div>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F22200000%2Fpurple-heart-glitter-picture-22210584-185-151.gif&f=1&nofb=1" alt />
    </div>
    <div class="nav">
        <a href="/"><u>accueil</u></a>
        <a href="about"><u>a propo de johnny</u></a>
    </div>
    <div class="container">
        <p>johnny allyday, en 57 ané 2 carièr, a vendu 110 milion 2 disk, a enregistré + 2 1 000 titr, don une centN 2 sa composition, pr une discografi oficiL ki compte 51 albums studio, 29 albums liv é 165 singl. </p>
        <div class="iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/prgsiq1Z8wM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>johnny a été récompensé par 5 disk 2 diaman, 22 disk 2 platine, 40 disk dor é 10 victoir dla musik</p>
    </div>
    <script src="cursor.js"></script>
</body>
</html>