.iteration {
    border-bottom: 1px solid black;
    padding: 12px;
}

table {
    border: 1px solid black;
}

.iteration span:first-child {
    color: red;
}

.iteration span:last-child {
    color: blue;
}

.iteration ul li {
    list-style: none;
} 

.black {
    border: 2px solid black;
}

.red {
    color: red;
    border: 1px solid red;
}

li.listStyleNone {
    list-style: none;
}