<div class="container">
    <div class="left"></div>
    <div class="right">
        <h2>IRONHACK<br />CINEMA</h2>
        <a href="/movies">
            <button>Movies</button>
        </a>
    </div>
</div>